/* common */
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.wrapper_80 {
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #031c4e;
    font-weight: 700;
    margin-bottom: 30px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    color: grey;
    font-weight: 400;
}

h5 {
    font-size: 18px;
    color: #031c4e;
}

p {
    color: grey;
}

q {
    color: grey;
    font-size: 16px;
}

figcaption {
    color: #031c4e;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
}

.link-arrow {
    padding-left: 10px;
}

.arrow-left,
.arrow-right {
    font-size: 30px;
    cursor: pointer;
}
.arrow-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0.5;
}
.arrow-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.dot {
    margin: 10px 0;
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 2px solid #3a8aff;
    border-radius: 50%;
    cursor: pointer;
}
.dot-full {
    background-color: #3a8aff;
}

#section-1 a,
#section-4 a,
#section-6 .quote-figure a {
    color: #3a8aff;
    text-decoration: none;
}
#section-1 a:hover,
#section-4 a:hover,
#section-6 .quote-figure a:hover {
    color: #031c4e;
}
#section-1 a::after,
#section-4 a::after,
.test-speed-link a::after,
#section-6 .quote-figure a::after {
    content: ">";
    padding-left: 10px;
}

.blue-background {
    background-image: linear-gradient(#0046c4, #001f9a);
}

/* header */
/* nav */
nav {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.navbar-header a {
    padding: 10px 0;
}
.navbar-brand > img {
    height: 100%;
}

.container>.navbar-header {
    margin-right: 100px;
}

.navbar-nav>li>a {
    font-weight: 500;
    padding-top: 18px;
    padding-bottom: 15px;
    color: #031c4e;
}
.nav>li>a {
    display: inline-block;
}
.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #3a8aff;
}

nav i {
    margin-left: 3px;
    font-size: 10px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: white;
    color: #3a8aff;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: white;
    text-decoration: none;
    background-color: #3a8aff;
}

.navbar-toggle .icon-bar {
    height: 3px;
    border-radius: 3px;
    background-color: #3a8aff;
}

.dropdown-menu > li > a {
    color: #031c4e;
}

.create-account-btn,
.google_btn {
    width: 100%;
    height: 35px;
    font-weight: 500;
    vertical-align: middle;
}

.create-account-btn {
    margin-top: 5px;
    color: white;
    background-color: #579aff;
}
.create-account-btn:hover {
    color: white;
    background-color: #006aff;
}

.google_btn {
    position: relative;
    color: grey;
    margin: 10px 0;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.4);
}
.google_btn img {
    height: 18px;
}
#google_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 10px;
}

.navbar-fixed-top {
    padding: 10px 0;
}
.navbar-nav > li > a.signup-btn,
#section-7 .signup-btn {
    margin-top: 13px;
    margin-left: 10px;
    padding: 5px 10px;
    color: #3a8aff;
    border: 1px solid #3a8aff;
}
.navbar-nav > li > a.signup-btn:hover,
#section-7 .signup-btn:hover {
    background-color: #3a8aff;
    color: white;
}

/* jumbotron */
#jumbotron {
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

#jumbotron h1{
    font-size: 50px;
    font-weight: 600;
    color: white;
}

#jumbotron p {
    font-size: 18px;
    color: white;
    opacity: 0.8;
}

#login_form {
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 3px;
    color: #031c4e;
}
#login_form h3 {
    font-size: 24px;
    font-weight: 700;
}
#login_form h3:nth-child(2) {
    margin-top: 0;
    color: #3a8aff;
}

#login_form p {
    color: black;
    font-size: 12px;
}
#login_form p > a {
    text-decoration: underline;
}
#login_form p > a:hover {
    text-decoration: none;
    color: #031c4e;
    cursor: pointer;
}

input {
    margin: 10px 0;
}

/* main */
/* section-1 */
#section-1 {
    padding: 30px 0 20px 0;
    color: grey;
    background-color: #f3f5f9;
}

/* section-1 - logo list */
.logo-list {
    margin-bottom: 10px;
}

.logo-list > div {
    max-height: 70px;
}
.logo-list img {
    max-height: 150px;
}

/* section-2 */
#section-2 {
    padding: 50px 0;
    background-color: white;
}

#section-2 h4 {
    margin-bottom: 30px;
}

#section-2 ul {
    list-style: none;
    padding: 0;
    color: grey;
}
#section-2 ul > li {
    padding: 5px 0 0 10px;
    border-left: 1px solid grey;
}

#section-2 .wrapper_80 {
    padding-top: 30px;
}

#section-2 img {
    width: 30px;
    margin-bottom: 5px;
}

#section-2 .col_nested {
    margin-bottom: 20px;
}

/* section 3 */
#section-3 {
    padding: 50px 0;
    background-color: #f3f5f9;
}

#section-3 .central-figure {
    position: relative;
    width: 60%;
    margin: 50px auto 0 auto;
}

#section-3 figure img {
    width: 90%;
}

/* section-4 */
#section-4 {
    padding: 50px 0;
    background-color: white;
}

#section-4 img {
    width: 30px;
    margin-bottom: 5px;
}

#section-4 [class*="col-"] {
    margin-bottom: 30px;
}

/* section-5 */
#section-5 {
    padding: 50px 0 20px 0;
}
#section-5 h2 {
    color: white;
}
#section-5 p,
#section-5 a {
    font-size: 12px;
}

.service-column:first-child {
    margin-bottom: 30px;
}

.region-code p {
    color: white;
}
.city p {
    color: rgba(255, 255, 255, 0.6);
}

.test-speed-link {
    text-align: right;
}

.test-speed-link a {
    color: rgb(70, 206, 230);
}

.test-speed-link a:hover {
    color: white;
    text-decoration: none;
}

.service-region {
    padding-top: 9px;
}
.service-region {
    line-height: 15px;
}
.service-region:not(:last-child) {
    padding-top: 9px;
    border-bottom: 1px solid white;
}

/* section-6 */
#section-6 {
    padding: 50px 0;
    background-color: #f3f5f9;
}

.quote-figure {
    width: 40%;
    margin: 40px auto 15px auto;
    padding: 30px 5px 50px 5px;
    position: relative;
    background-color: white;
}
.quote-figure img {
    display: block;
    width: 60%;
    margin: 15px auto 25px auto;
}

#section-6 .arrow-left {
    left: -10%;
    transform: translateX(-50%);
}
#section-6 .arrow-right {
    right: -15%;
    transform: translateX(-50%);
}

#section-6 figcaption {
    color: #031c4e;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
}
#section-6 figcaption:last-of-type {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 30px;
}

#section-6 .quote-figure a {
    font-weight: 500;
}

/* section 7 */
#section-7 {
    padding: 50px 0;
}

#section-7 h2 {
    color: white;
    margin-bottom: 5px;
}

#section-7 .signup-btn {
    font-weight: 500;
}

/* footer */
footer {
    padding: 50px 0;
    background-color: #031c4e;
}

footer img {
    width: 30px;
    margin-bottom: 10px;
    opacity: 0.7;
}

footer p,
footer a {
    font-size: 12px;
    color: grey;
}
footer i {
    color: grey;
    font-size: 15px;
}
footer a:hover,
footer i:hover {
    color: white;
    text-decoration: none;
}

#col-logo p:not(:last-of-type) {
    margin: 0
}
#col-logo p:last-of-type {
    opacity: 0.5;
}



@media screen and (max-width: 767px) {
    body {
        padding-top: 20px;
    }

    .container > .navbar-header {
        margin-right: 0px;
        margin-left: 10px;
    }

    #login_form {
        margin: 0 25px;
        width: 90%;
    }

    #section-2 .wrapper_80 {
        width: 100%;
    }

    #section-2 .col_nested {
        margin-bottom: 5px;
    }

    .quote-figure {
        width: 50%;
    }

    .quote-figure img {
        display: block;
        width: 100%;
        margin: 0 0 10px 0;
    }

}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .container > .navbar-header {
        margin-right: 0px;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse:not(.in) {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo-list img {
        max-width: 100px;
        max-height: 50px;
    }

    #section-2 .wrapper_80 {
        width: 100%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1169px) {
    .container>.navbar-header {
        margin-right: 40px;
    }
}

@media screen and (min-width: 1170px) {
    .service-column {
        width: 90%;
    }
    .service-column:last-child {
        margin-left: 10%;
    }
}